.wd100p {
  width: 100% !important;
}
.pdT5r {
  padding-top: 5rem !important;
}
.mg2r {
  margin: 2rem !important;
}
.mg4r {
  margin: 4rem !important;
}
.mgB4r {
  margin-bottom: 4rem !important;
}
