<IfModule mod_rewrite.c>
    
    RewriteEngine on

    # RewriteRule ^node/(.+) http://%{HTTP_HOST}:8090/$1 [P,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . /app/index.html [L]
    
</IfModule>