@mixin grad_h($color){
	background:linear-gradient(to right,  rgba($color,0) 0%,rgba($color,1) 30%,rgba($color,1) 100%);
}
@mixin c_buttonrules($background,$color,$icontext,$bg-hov){
	background: $background;
	color: $color;
	transition: background 200ms;
	&[disabled]:hover{
		background-color:$background;
	}
	&:hover{
		transition: background 0ms 0ms;
		background: $bg-hov;
		> .icn{
			transition: background 0ms 0ms !important;
			background:$bg-hov;
		}
	}
	> .icn{
		transition: background 200ms 0ms;
		background:$background;
		& > span{
		  color: $icontext;
		}
	}
}